/*ohmyfood*/ 

*
{box-sizing: border-box;
}

    header
    {
      font-family: Shrikhand.tff;

    }
    
    .logo
    {display:block; 
    margin-left:auto; 
margin-right:auto;
padding-top: 20px; 
 }

 body 
 {
 /*font-size:150%;*/


 margin:0px;  
     }

    .intro
    {display:block; 
    text-align:center; 
  padding: 30px;
  background-color:#f6f6f6 ; }

  button
  {font-size: 150%;
  border-radius: 50px 50px 50px 50px;
padding: 20px;
border-style:none; 
color:black; }

button:hover 
{opacity:0.5; }
  
  .gradiant
  {background:linear-gradient(#FF79DA, #9356DC );
  color:white;  }

    .localisation
    {
    background-color:#eaeaea ;
    padding:30px; 
   
    }

    .fas fa-location-dot:before
    {
        color:black; 
    }

    .numbers
{background-color:#9356DC;
color:black; 
height:30px; 
width:30px; 
border-radius: 50%;
align-items:center;
margin:auto; 
display:flex; }

.menu 
{align-items:center; 
border-radius:20px; 
margin:auto;  }
  
.list_menu
{display:flex; 
justify-content:space-between;
flex-direction:row; }

   /* .restaurants 
    {
    

 flex-direction:row; 
    width:400px;
    height:200px;
    box-sizing: border-box;
   top:5%; }
   

   /* .caption
    {
  top:500px;
left:0; 
background-color:white; 
width: 770px; 
height:450px; 
object-fit: cover;
 border-radius: 0px 0px 30px 30px;
position:absolute;
text-align:center;}*/


.footer
{
    background-color:#353535;
color:white;
}

.logoreverse
{filter:invert(100%); 
  display:block; 
  margin-left:auto; 
margin-right:auto;
padding-top: 20px;  }
}
